<?xml version="1.0"?>
<launch>

  <arg name="model" default="$(find coba_urdf)/urdf/simple_control.urdf.xacro"/>
  <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />

  <include file="$(find coba_urdf)/launch/gazebo_simple.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

</launch>
